<!--header-section  declaration -->
<div class="main-header" id="header-section">
    <ul class="header-list">
        <li class="btn-hamburguer float-left header-style icon-menu" id="hamburger" (click)="openClick()"></li>
    </ul>
    <img src="./../../../../../assets/img/ColfuturoLogo.png" class="rounded mx-auto d-block" alt="..." style="width: 100px;padding-top: 11px;">
    <!--<button ejs-button style="width: 6%; float: right;margin-top: -6vh; padding-right: 5vh;">Cerrar Sesión</button>-->
</div>
<!--end of header-section  declaration -->