<!-- <div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          <multi-multi-select></multi-multi-select>
        </div>
        <div class="col-md-5">
          <date-date-picker></date-date-picker>
        </div>
      </div>
    </div>
  </div>
</div>


<button
  class="e-control e-btn"
  style="position: absolute;"
  id="targetButton"
  (click)="onOpenDialog($event)"
>
  Open Modal Dialog
</button>

<div #container class="root-container"></div>
<ejs-dialog
  id="dialog"
  #ejDialog
  isModal="true"
  (overlayClick)="onOverlayClick()"
  content="This is a modal dialog"
  [target]="targetElement"
  width="250px"
>
</ejs-dialog> -->

<app-modal title="Abrir esto" component="espsssecial" content="Este es el contenido <b>del modals</b> ..."></app-modal>
